.result {
   display: flex;
   align-items: center;
   margin-block: 10px;
   gap: 90px;
}

.date,
.length {
   font-size: 16px;
   font-weight: 400;
   margin-left: 35px;
}

.btn-group {
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: 35px;
}

.btn-edit {
   width: 25px;
   height: 25px;
   border: none;
   background-color: white;
   background-image: url('/public/edit-icon.svg');
   cursor: pointer;
}

.btn-delete {
   width: 25px;
   height: 25px;
   border: none;
   background-color: white;
   background-image: url('/public/delete-icon.svg');
   cursor: pointer;
}
